<div class="panel" style="margin: 35%; margin-top: 10%">
    <div class="heading">
        <span class="icon mif-home"></span>
        <span class="title">Login เข้าระบบ nodePOS</span>
    </div>
    <div class="content" style="padding: 20px">
        <form method="post" action="/login">
            <div class="grid">
                <div class="row cells1">
                    <div class="cell">
                        <div class="input-control text full-size">
                            <span class="mif-user prepend-icon"></span>
                            <input type="text" name="usr" />
                        </div>
                    </div>
                </div>
                <div class="row cells1">
                    <div class="cell">
                        <div class="input-control text full-size">
                            <span class="mif-lock prepend-icon"></span>
                            <input type="password" name="pwd" />
                        </div>
                    </div>
                </div>
                <div class="row cells1">
                    <div class="cell">
                        <div class="center">
                            <button class="button large-button bg-green fg-white">
                                        <i class="mif-checkmark"> </i>
                                        Login
                                   
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>