<div data-role="dialog" data-close-button="true" id="dialog" data-background="bg-dark">
    <div class="tile-group three bg-dark fg-white" style="margin-left: 15px">
        <div class="tile-group-title">Main Menu</div>
        <div class="tile-container">
            <div class="tile bg-cyan">
                <div class="tile-content iconic">
                    <a href="/org" class="fg-white">
                        <span class="icon mif-home"></span>
                        <span class="tile-label">ข้อมูลร้าน</span>
                    </a>
                </div>
            </div>
            <div class="tile bg-steel">
                <div class="tile-content iconic">
                    <a href="/product" class="fg-white">
                        <span class="icon mif-gift"></span>
                        <span class="tile-label">สินค้า</span>
                    </a>
                </div>
            </div>
            <div class="tile bg-orange">
                <div class="tile-content iconic">
                    <a href="/user" class="fg-white">
                        <span class="icon mif-users"></span>
                        <span class="tile-label">ผู้ใช้ระบบ</span>
                    </a>
                </div>
            </div>
            <div class="tile bg-teal">
                <div class="tile-content iconic">
                    <a href="/sale" class="fg-white">
                        <span class="icon mif-dollar2"></span>
                        <span class="tile-label">ขาย</span>
                    </a>
                </div>
            </div>
            <div class="tile bg-green">
                <div class="tile-content iconic">
                    <span class="icon mif-database"></span>
                    <span class="tile-label">สต๊อก</span>
                </div>
            </div>
            <div class="tile bg-pink">
                <div class="tile-content iconic">
                    <span class="icon mif-file-text"></span>
                    <span class="tile-label">รายงาน</span>
                </div>
            </div>
            <div class="tile bg-red">
                <div class="tile-content iconic">
                    <span class="icon mif-stack"></span>
                    <span class="tile-label">รายงานสรุป</span>
                </div>
            </div>
            <div class="tile bg-olive">
                <div class="tile-content iconic">
                    <span class="icon mif-pencil"></span>
                    <span class="tile-label">ข้อมูลส่วนตัว</span>
                </div>
            </div>
            <div class="tile bg-violet">
                <div class="tile-content iconic">
                    <a class="fg-white" href="/logout">
                        <span class="icon mif-exit"></span>
                        <span class="tile-label">ออกจากระบบ</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>