<div class="panel" style="margin: 20px">
    <div class="heading">
        <i class="icon mif-gift"></i>
        <span class="title">ข้อมูลสินค้า</span>
    </div>
    <div class="content" style="padding: 20px">
        <form method="post">
            <div class="grid">
                <div class="row cells1">
                    <div class="cell">
                        <label>ชื่อสินค้า</label>
                        <div class="input-control full-size">
                            <input type="text" name="name" />
                        </div>
                    </div>
                </div>
                <div class="row cells3">
                    <div class="cell">
                        <label>รหัสบาร์โค้ด</label>
                        <div class="input-control full-size">
                            <input type="text" name="barcode" />
                        </div>
                    </div>

                    <div class="cell">
                        <label>ราคาทุน</label>
                        <div class="input-control full-size">
                            <input type="text" name="old_price" />
                        </div>
                    </div>

                    <div class="cell">
                        <label>ราคาจำหน่าย</label>
                        <div class="input-control full-size">
                            <input type="text" name="price" />
                        </div>
                    </div>
                    <div class="row cells1">
                        <button class="button large-button bg-green fg-white">
                                <i class="mif-checkmark"></i>
                                บันทึก
                            </button>
                    </div>
                </div>
        </form>
        </div>
    </div>