doctype html
html
    head
    title My Website By NodeJs
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    div
    a(href='/page1') Page1
    a(href='/page2') Page2
    a(href='/page3') Page3

block content
